SUPABASE_URL=https://glasogygsoerhxnolsbi.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsYXNvZ3lnc29lcmh4bm9sc2JpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2MTAwOTIsImV4cCI6MjA5OTE4NjA5Mn0.b6Ux9XdxTEbvuzTgWWRCQaY0A5hjJcZfbRR-YXQqwi4
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsYXNvZ3lnc29lcmh4bm9sc2JpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzYxMDA5MiwiZXhwIjoyMDk5MTg2MDkyfQ.Dx0917VghccYMBAXiJVG7jXK7Mqj-OAYj6niyj-uik0
SECRET_KEY=SfgbwBZGuHjYLsGvVhBuvJPXFhb13+7NSvrGIxKEBpxbY/0adVtJkElw+Ex3h5luk15flfn31FM30sgD0nN5+Q==
FLASK_ENV=development
DEBUG=True